<div class="row">
  <div class="col-md-4" *ngFor="let product of products; let index = index">
    <div class="card card-widget widget-user">
      <div class="widget-user-header bg-info">
        <h3 class="widget-user-username">{{ product.titleProduct }}</h3>
        <h5 class="widget-user-desc">{{ product.descriptionProduct }}</h5>
      </div>
      <div class="widget-user-image">
        <img
          class="img-circle elevation-2"
          src="{{
            'http://localhost:9091/SpringMVC/servlet/Imgarticles/' +
              product.idProduct
          }}"
          alt="User Avatar"
        />
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">{{ product.priceProduct }}</h5>
              <span class="description-text">DT</span>
            </div>
          </div>
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">{{ product.quantityProduct }}</h5>
              <span class="description-text">Encore en stock</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">{{ product.barcodeProduct }}</h5>
              <span class="description-text">Code à Bar</span>
            </div>
          </div>
        </div>
        <hr />
        <center>
          <button
            type="button"
            [routerLink]="['/home/one-product', product.idProduct]"
            class="btn btn-block btn-outline-primary btn-sm"
          >
            Plus de détails
          </button>
        </center>
      </div>
    </div>
  </div>
</div>
