<form
  form
  (submit)="editUnderCategory()"
  #codeForm="ngForm"
  name="form"
  *ngIf="underCategory"
>
  <label> Nom Publicité: </label>
  <input
    type="text"
    class="form-control"
    #namePublicity
    name="nameUnderCategory"
    [(ngModel)]="underCategory.nameUnderCategory"
  />
  <br />

  <label> Nom Catégorie: </label>
  <input
    type="text"
    class="form-control"
    disabled
    name="category"
    [(ngModel)]="underCategory.category.nameCategory"
  />
  <br />

  <button
    type="submit"
    style="float: right; margin-top: 10px"
    class="btn btn-info toastsDefaultSuccess"
  >
    Modifier
  </button>
  <button
    type="button"
    style="float: left; margin-top: 10px"
    class="btn btn-danger toastsDefaultSuccess"
    (click)="redirectUnderCategory()"
  >
    Annuler
  </button>
</form>
