<div class="row" (click)="resetForm()">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Publicités</h3>
        <button
          style="float: right"
          type="button"
          class="btn btn-info"
          data-toggle="modal"
          data-target="#modal-default"
          (click)="toggelModel()"
        >
          <i class="fas fa-plus" style="margin: 0 10px 0 0"></i>Ajouter
        </button>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th >ID</th>
              <th style="width: 10px">canal Publicité</th>
              <th>Description</th>
              <th>Titre</th>
              <th>date debut</th>
              <th>date fin</th>
              <th>Email</th>
              <th>téléphone</th>
              <th>Type</th>
              <th>cible pub</th>
              <th>status pub</th>
              <th style="width: 150px">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr [ngClass]="index % 2 != 0 ? 'blue-bg' : ''" *ngFor="let pub of publicities; let index = index">
              <td>{{ pub.idPublicity }}</td>
              <td>{{ pub.channelPublicity }}</td>
              
              <td>{{ pub.descriptionPublicity }}</td>
              <td>{{ pub.namePublicity }}</td>
              <td>{{ pub.startDatePublicity }}</td>
              <td>{{ pub.endDatePublicity }}</td>
              <td>{{ pub.mailOwnerPublicity }}</td>
              <td>{{ pub.phoneOwnerPublicity }}</td>
              <td>{{ pub.typePublicity }}</td>
              <td>{{ pub.targetPublicity }}</td>
              <td *ngIf="pub.statusPublicity">
                <span class="right badge badge-success">active</span>
              </td>
              <td *ngIf="!pub.statusPublicity">
                <span class="right badge badge-danger">non-active</span>
              </td>
              <td>
                <button
                  type="button"
                  style="margin: 0 8px"
                  class="btn btn-success"
                  [routerLink]="['/home/edit-publicity', pub.idPublicity]"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  type="button"
                  style="margin: 0 8px"
                  class="btn btn-danger"
                  (click)="deletePublicity(pub)"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="modal-default"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!edit" class="modal-title">Ajouter une publicité</h5>
        <h5 *ngIf="edit" class="modal-title">Modifier une publicité</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactForm" (ngSubmit)="submit()">
            <input
              type="text"
              class="form-control"
              formControlName="namePublicity"
              placeholder="Nom Publicité"
            />
          <br />
          <select formControlName="channelPublicity" class="form-control">
            <option [ngValue]="null" disabled>choix canal</option>
            <option *ngFor="let category of channels" [ngValue]="category">
              {{ category }}
            </option>
          </select>
          <br />
          <select formControlName="targetPublicity" class="form-control">
            <option [ngValue]="null" disabled>choix cible</option>
            <option *ngFor="let category of cibles" [ngValue]="category">
              {{ category }}
            </option>
          </select>
          <br />
          <select formControlName="initialViewNumber" class="form-control">
            <option [ngValue]="null" disabled>choix Vue initiale</option>
            <option
              *ngFor="let category of numberInitialViews"
              [ngValue]="category"
            >
              {{ category }}
            </option>
          </select>
          <br />
          <select formControlName="typePublicity" class="form-control">
            <option [ngValue]="null" disabled>choix de type</option>
            <option *ngFor="let pub of typesPublicity" [ngValue]="pub">
              {{ pub }}
            </option>
          </select>
          <br />

          <label> numéro de téléphone:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-phone"></i></span>
            </div>
            <input
              type="number"
              formControlName="phoneOwnerPublicity"
              class="form-control"
            />
          </div>
          <br />
          <label> Email:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="fas fa-envelope"></i
              ></span>
            </div>
            <input
              type="text"
              formControlName="mailOwnerPublicity"
              class="form-control"
            />
          </div>

          <br />
          <label>
            Date début:
          </label>
            <input
              type="date"
              class="form-control"
              formControlName="startDatePublicity"
            />
          <br />
          <label>
            Date fin:
          </label>
            <input
              type="date"
              class="form-control"
              formControlName="endDatePublicity"
            />
          <br />
          <label> Description: </label>
          <textarea
            class="form-control"
            formControlName="descriptionPublicity"
            rows="4"
            placeholder="Description..."
            style="margin-top: 0px; margin-bottom: 0px; height: 106px"
          >
          </textarea>

          <br />
          <label> Image du Publicité: </label>
          <input
            type="file"
            class="form-control"
            name="file"
            formControlName="fileName"
            placeholder="Image du publicité"
            required
          />
          <br />
          <button
            type="submit"
            style="float: right; margin-top: 10px"
            class="btn btn-info toastsDefaultSuccess"
          >
            Ajouter
          </button>
        </form>

        <div class="modal-footer justify-content-between"></div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
