<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Sous-Catégories</h3>
        <button style="float:right" type="button" class="btn btn-info">
          <i class="fas fa-plus" style="margin: 0 10px 0 0"></i>Ajouter
        </button>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">ID</th>
              <th style="width: 10px">Nom de Catégorie</th>
              <th>Nom</th>
              <th style="width: 150px">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let undercategory of undercategories; let index = index">
              <td>{{ undercategory.idUnderCategory }}</td>
              <td>{{ undercategory.category.nameCategory }}</td>
              <td>{{ undercategory.nameUnderCategory }}</td>
              <td>
                <button
                  type="button"
                  style="margin: 0 10px"
                  class="btn btn-success"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  type="button"
                  style="margin: 0 10px"
                  class="btn btn-danger"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
