<div class="row" bis_skin_checked="1">
  <div class="col-lg-3 col-6" bis_skin_checked="1">
    <!-- small box -->
    <div class="small-box bg-info" bis_skin_checked="1">
      <div class="inner" bis_skin_checked="1">
        <h3 *ngIf="categories">{{ categories.length }}</h3>
        <h3 *ngIf="!categories">0</h3>
        <p>Catégories</p>
      </div>
      <div class="icon" bis_skin_checked="1">
        <i class="ion ion-ios-list-outline"></i>
      </div>
      <a href="/home/categories" class="small-box-footer"
        >Plus de détails <i class="fas fa-arrow-circle-right"></i
      ></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6" bis_skin_checked="1">
    <!-- small box -->
    <div class="small-box bg-success" bis_skin_checked="1">
      <div class="inner" bis_skin_checked="1">
        <h3 *ngIf="undercategories">{{ undercategories.length }}</h3>
        <h3 *ngIf="!undercategories">0</h3>
        <p>Sous-Catégories</p>
      </div>
      <div class="icon" bis_skin_checked="1">
        <i class="ion ion-ios-list-outline"></i>
      </div>
      <a href="/home/undercategories" class="small-box-footer"
        >Plus de détails<i class="fas fa-arrow-circle-right"></i
      ></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6" bis_skin_checked="1">
    <!-- small box -->
    <div class="small-box bg-warning" bis_skin_checked="1">
      <div class="inner" bis_skin_checked="1">
        <h3 *ngIf="products">{{ products.length }}</h3>
        <h3 *ngIf="!products">0</h3>
        <p>Produits</p>
      </div>
      <div class="icon" bis_skin_checked="1">
        <i class="ion ion-ios-list-outline"></i>
      </div>
      <a href="/home/products" class="small-box-footer"
        >Plus de détails<i class="fas fa-arrow-circle-right"></i
      ></a>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-6" bis_skin_checked="1">
    <!-- small box -->
    <div class="small-box bg-danger" bis_skin_checked="1">
      <div class="inner" bis_skin_checked="1">
        <h3 *ngIf="publicity">{{ publicity.length }}</h3>
        <h3 *ngIf="!publicity">0</h3>
        <p>Publicités</p>
      </div>
      <div class="icon" bis_skin_checked="1">
        <i class="ion ion-ios-world-outline"></i>
      </div>
      <a href="/home/ads" class="small-box-footer"
        >Plus de détails<i class="fas fa-arrow-circle-right"></i
      ></a>
    </div>
  </div>
  <!-- ./col -->
</div>
