<div class="wrapper">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="['/home']" class="brand-link">
      <div
        style="display: grid; justify-content: center; justify-items: center"
      >
        <img
          src="assets/consommiTounsi.png"
          alt="AdminLTE Logo"
          style="opacity: 0.8; width: 100%; height: 90px"
        />
        <span class="brand-text font-weight-light">Consommi Tounsi</span>
      </div>
    </a>

    <div class="sidebar">
      <nav style="margin-top: 100px">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
                                   with font-awesome or any other icon font library -->

          <li
            *ngFor="let category of sidebar; let index = index"
            class="nav-item"
          >
            <a class="nav-link">
              <i class="far fa-dot-circle nav-icon"></i>
              <p>
                {{ category.category }}
                <i
                  *ngIf="category.underCategories.length"
                  class="right fas fa-angle-left"
                ></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li
                *ngFor="
                  let underCategory of category.underCategories;
                  let index = index
                "
                class="nav-item"
              >
                <a class="nav-link">
                  <i
                    style="margin-left: 25px"
                    class="far fa-circle nav-icon"
                  ></i>
                  <p>
                    {{ underCategory.underCategory.nameUnderCategory }}
                    <i
                      *ngIf="underCategory.products.length"
                      class="right fas fa-angle-left"
                    ></i>
                    <span
                      *ngIf="!underCategory.products.length"
                      class="badge badge-info right"
                      >0</span
                    >
                  </p>
                </a>
                <ul class="nav nav-treeview">
                  <li
                    *ngFor="
                      let product of underCategory.products;
                      let index = index
                    "
                    class="nav-item"
                  >
                    <a
                      [routerLink]="['/home/one-product', product.idProduct]"
                      class="nav-link"
                    >
                      <p style="margin-left: 50px">
                        {{ product.titleProduct }}
                      </p>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['/home/ads']"
              class="nav-link"
              [ngClass]="routeName == '/home/ads' ? 'active' : ''"
            >
              <i class="fab fa-adversal nav-icon"></i>
              <p>Publicités</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</div>
