<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Catégories</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 250px">
            <input
              type="text"
              name="table_search"
              class="form-control float-right"
              placeholder="Chercher"
              [(ngModel)]="searchText"
              style="margin: 0 5px 0 5px"
              (input)="searchTable()"
            />

            <button
              type="button"
              class="btn btn-info"
              data-toggle="modal"
              data-target="#modal-default"
              style="margin: 0 5px 0 5px"
            >
              <i class="fas fa-plus" style="margin: 0 10px 0 0"></i>Ajouter
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">ID</th>
              <th>Nom</th>
              <th style="width: 150px">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              [ngClass]="index % 2 != 0 ? 'blue-bg' : ''"
              *ngFor="let category of categories; let index = index"
            >
              <td>{{ category.idCategory }}</td>
              <td>{{ category.nameCategory }}</td>
              <td>
                <button
                  type="button"
                  style="margin: 0 10px"
                  class="btn btn-success"
                  data-toggle="modal"
                  data-target="#modal-default"
                  (click)="setCategory(category)"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  type="button"
                  style="margin: 0 10px"
                  class="btn btn-danger"
                  (click)="deleteCategory(category)"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modal-default"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog" *ngIf="!edit">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter une catégorie</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form #codeForm="ngForm" name="form">
          <label>Nom: </label>
          <div class="input-group input-group-sm">
            <input
              type="text"
              name="nameCategory"
              placeholder="Nom Catégorie"
              class="form-control"
              ngModel
            />

            <span class="input-group-append">
              <button
                type="button"
                class="btn btn-info btn-flat"
                (click)="addCategory()"
                data-dismiss="modal"
              >
                Ajouter
              </button>
            </span>
          </div>
        </form>

        <div class="modal-footer justify-content-between"></div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <div class="modal-dialog" *ngIf="edit">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modifier une catégorie</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="editCategory()" #codeForm2="ngForm" name="form2">
          <label>Nom: </label>
          <div class="input-group input-group-sm">
            <input
              *ngIf="category"
              type="text"
              name="nameCategory"
              placeholder="Nom Catégorie"
              class="form-control"
              #nameCategory
              [(ngModel)]="category.nameCategory"
            />

            <span class="input-group-append">
              <button type="submit" class="btn btn-info btn-flat">
                Modifier
              </button>
            </span>
          </div>
        </form>

        <div class="modal-footer justify-content-between"></div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
