<div class="row" (click)="resetForm()">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Produits</h3>
        <button
          style="float: right"
          data-toggle="modal"
          data-target="#modal-default"
          type="button"
          class="btn btn-info"
        >
          <i class="fas fa-plus" style="margin: 0 10px 0 0"></i>Ajouter
        </button>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">ID</th>
              <th>Image</th>
              <th style="width: 10px">Nom de Sous-Catégorie</th>
              <th>Titre</th>
              <th>Description</th>
              <th>Code à bar</th>
              <th>Prix d'achat</th>
              <th>Prix de vente</th>
              <th>Quantité</th>
              <th style="width: 150px">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              [ngClass]="index % 2 != 0 ? 'blue-bg' : ''"
              *ngFor="let product of products; let index = index"
              
            >
              <td>{{ product.idProduct }}</td>
              <td>
                <img
                  src="{{
                    'http://localhost:9091/SpringMVC/servlet/Imgarticles/' +
                      product.idProduct
                  }}"
                  style="height: 80px"
                  class="product-image"
                  alt="Product Image"
                />
              </td>
              <td>{{ product.underCategory.nameUnderCategory }}</td>
              <td>{{ product.titleProduct }}</td>
              <td>{{ product.descriptionProduct }}</td>
              <td>{{ product.barcodeProduct }}</td>
              <td>{{ product.buyingPriceProduct }} DT</td>
              <td>{{ product.priceProduct }} DT</td>
              <td>{{ product.quantityProduct }}</td>
              <td>
                <button
                  type="button"
                  style="margin: 0 10px"
                  class="btn btn-success"
                  [routerLink]="['/home/edit-product', product.idProduct]"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  type="button"
                  style="margin: 0 10px"
                  class="btn btn-danger"
                  (click)="deleteProduct(product)"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="modal-default"
  style="display: none"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un Produit</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="resetForm()"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="contactForm" (ngSubmit)="submit()">
          <div *ngIf="!tunisianBarCode">
            <label for="file">Veuillez choisir l'image du code à bar</label>
            <input
              type="file"
              class="form-control"
              name="file"
              id="file"
              placeholder="Image du code à bar"
              (change)="fileChange($event)"
              required
            />
          </div>
          <div *ngIf="tunisianBarCode">
            <input
              type="text"
              class="form-control"
              formControlName="titleProduct"
              placeholder="Titre du produit"
            />
            <br />
            <textarea
              type="text"
              class="form-control"
              formControlName="descriptionProduct"
              placeholder="Description du produit"
            ></textarea>
            <br />
            <input
              type="number"
              class="form-control"
              formControlName="buyingPriceProduct"
              placeholder="Prix d'achat du produit"
            />
            <br />
            <input
              type="number"
              class="form-control"
              formControlName="priceProduct"
              placeholder="Prix de vente du produit"
            />
            <br />
            <input
              type="number"
              class="form-control"
              formControlName="maxQuantityProduct"
              placeholder="Quantité maximale du produit"
            />
            <br />
            <input
              type="number"
              class="form-control"
              formControlName="quantityProduct"
              placeholder="Quantité du produit"
            />
            <br />
            <input
              type="number"
              class="form-control"
              formControlName="weightProduct"
              placeholder="Poids du produit"
            />
            <br />
            <select
              formControlName="underCategoryIdUnderCategory"
              class="form-control"
            >
              <option [ngValue]="null" disabled>Choix Sous-Catégorie</option>
              <option
                *ngFor="let undercategory of undercategories"
                [ngValue]="undercategory.idUnderCategory"
              >
                {{ undercategory.nameUnderCategory }}
              </option>
            </select>
            <br />

            <input
              type="file"
              class="form-control"
              name="file"
              formControlName="fileName"
              placeholder="Image du produit"
              required
            />
            <button
              type="submit"
              style="float: right; margin-top: 10px"
              class="btn btn-info toastsDefaultSuccess"
            >
              Ajouter
            </button>
          </div>
        </form>

        <div class="modal-footer justify-content-between"></div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</div>
