<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Produits</h3>
        <button style="float: right" type="button" class="btn btn-info">
          <i class="fas fa-plus" style="margin: 0 10px 0 0"></i>Ajouter
        </button>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">ID</th>
              <th style="width: 10px">Nom de Sous-Catégorie</th>
              <th>Titre</th>
              <th>Description</th>
              <th>Code à bar</th>
              <th>Prix d'achat</th>
              <th>Prix de vente</th>
              <th>Quantité</th>
              <th style="width: 150px">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let index = index">
              <td>{{ product.idProduct }}</td>
              <td>{{ product.underCategory.nameUnderCategory }}</td>
              <td>{{ product.titleProduct }}</td>
              <td>{{ product.descriptionProduct }}</td>
              <td>{{ product.barcodeProduct }}</td>
              <td>{{ product.buyingPriceProduct }} DT</td>
              <td>{{ product.priceProduct }} DT</td>
              <td>{{ product.quantityProduct }}</td>
              <td>
                <button
                  type="button"
                  style="margin: 0 10px"
                  class="btn btn-success"
                >
                  <i class="fas fa-edit"></i>
                </button>
                <button
                  type="button"
                  style="margin: 0 10px"
                  class="btn btn-danger"
                >
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
